<%- include('header')%>

    <!-- main -->
    <div class="container-fluid main">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p class="text-white h4 text-left">My tickets:</p>

            <!-- table -->
            <div class="table-responsive">
              <table class="table table-hover bg-light">
                <thead>
                  <tr>
                    <th scope="col">N°</th>
                    <th scope="col">Journey</th>
                    <th scope="col">Date</th>
                    <th scope="col">Departure time</th>
                    <th scope="col">Price</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- boucle trips -->
                  
                  <% var sum = 0 %>
                  <% for (i=0; i<cart.length; i++) { %>
                    <% sum += parseInt(cart[i].price) %>
                    <tr>
                      <th scope="row"><%= i+1 %></th>
                      <td><%= cart[i].departure %>/<%= cart[i].arrival %></td>
                      <td><%= prettyDate(cart[i].date) %></td>
                      <td><%= cart[i].departureTime %></td>
                      <td>€<%= cart[i].price %></td>
                    </tr>
                  <% } %>
                  <!-- boucle trips -->
                  
                  <tr class="table-danger">
                    <th scope="row">Total</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>€<%= sum %></td>
                  </tr>
                </tbody>
            </table>
            </div>
            
              
            <!-- table -->

          </div>
          <div class="col-12 text-right">
            <a href="/trains/confirm"><button id="confirm-btn" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">Confirm</button></a>
            <div class="d-flex justify-content-center mt-4"><a href="/trains" class="text-danger"><u>back to search page</u></a></div>
          </div>
        </div>
      </div>
    </div>
    <!-- end main -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="myCart" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="myCart">Your cart</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Purchase succesfull!</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->

    <!-- footer -->
    <%- include('footer')%>
    <script>
      // var btn = document.querySelector('#confirm-btn')
      // btn.addEventListener('click', function(e) {
      //   setTimeout(function () {
      //     window.location.href = '/trains/confirm'
      //   }, 1000)
      // })
    </script>